/* Global ====================================== START */
  * {
  }

  .hidden {
    display: none;
  }

  .container-fluid {
    padding: 0;
  }

  .jumbotron {
    height: 120px;
  }

  .jumbotron h1 {
    text-align: center;
    margin-top: 2px;
    line-height: 20px;
  }

  .rrules_main_body {
    width: 1300px;
    margin: 20px auto;
  }
/* Global ====================================== END */

/* Rule Group ====================================== START */
  .rrules_group {
    display: block;
    height: 60px;
    margin: 0 36px;
    padding: 0 40px;
  }

  .rrules_group .rrules_group_label {
    font-size: 18px;
    color:#444;
    margin-right: 30px;
  }

  .rrules_group .rrules_group_info_name {
    font-size: 20px;
    font-weight: bold;
    color: #ff9f40;
    margin-right: 12px;
  }

  .rrules_group_info_severity {
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    margin-right: 20px;
  }

  .rrules_group_info_edit input {
    width: 80px;
    height: 30px;
    background: #ff9f40;
    color: #FFF;
    border-style: none;
  }

  .rrules_group .rrules_group_info_edit input:hover {
    font-weight: bold;
    background: #ff5e00;
  }

  .rrules_group .rrules_group_edit {
    display: none;
  }

  .rrules_group .rrules_group_name input{
    width: 480px;
    height: 30px;
    margin-right: 20px;
    padding-left:20px;
  }

  .rrules_group .rrules_group_severity select{
    width: 100px;
    height: 30px;
    margin-right: 20px;
  }

  .rrules_group .rrules_group_submit input {
    width: 100px;
    height: 30px;
    background: #ff9f40;
    color: #FFF;
    border-style: none;
  }

  .rrules_group .rrules_group_submit input:hover {
    font-weight: bold;
    background: #ff5e00;
  }

  .rrules_group .rrules_group_cancel input {
    width: 100px;
    height: 30px;
    background: #ff4040;
    color: #FFF;
    border-style: none;
 }

  .rrules_group .rrules_group_cancel input:hover {
    font-weight: bold;
    background: #fb0000;
  }
/* Rule Group ====================================== END */

/* Rules Info ====================================== START */
  .rrules_rule_info {
    display: block;
    width: 95%;
    height: 84px;
    margin: 0 auto;
    padding: 20px 40px;
    background: #eafbff;
    border: 3px solid #ff9f40;
    border-radius: 4px;
  }

  .rrules_rule_name_label {
    font-size: 20px;
    color: #444;
  }

  .rrules_rule_info_name {
    display: inline-block;
    height: 44px;
    line-height: 32px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 4px;
    padding: 6px 12px;
  }

  .rrules_rule_info_name.on, .active .rrules_rule_info_name {
    background: #ff9f40;
    color: #FFF;
  }

  .rrules_rule_hint {
    font-style: italic;
    font-size: 12px;
  }
/* Rules Info ====================================== END */

/* Rules Panel ====================================== START */
  .rrules_rules_area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .rrules_rules_col {
    display: inline-block;
    width: 45%;
    margin: 20px auto;
  }

  .rrules_rules_title {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #999;
  }

  .rrules_rules_box {
    width:  100%;
    height: 600px;
    padding: 14px 32px;
    border: 2px solid #CCC;
    border-radius:  2px;
    overflow: auto;
  }

  .rrules_rule_item {
    display: block;
    margin: 8px;
    padding: 8px 20px;
    border: 1px solid #CCC;
    border-radius: 6px;
    background: #3cf;
    color: #FFF;
    height: 70px;
    line-height: 36px;
    font-size: 18px;
    cursor: move;
    text-align: center;
  }

  .rrules_rule_item:hover, .rrules_rule_item.selected {
    background: #00abff;
  }

  .rrules_rules_definition .rrules_rule_item {
    background: #1fca74;
  }

  .rrules_rules_definition .rrules_rule_item:hover, .rrules_rules_definition .rrules_rule_item.selected {
    background: #0ab931;
  }

  .rrules_rules_definition .rrules_rule_item.rrules_type_definition_used {
    background: #88bf77;
    cursor: default;
  }

  .rrules_used_hint {
    display: inline-block;
    width: 35px;
    font-size: 12px;
    font-style: italic;
  }

  .rrules_rule_name {
    display: inline-block;
    width: 320px;
    height: 36px;
    vertical-align: text-bottom;
    text-align: left;
    overflow: hidden;
  }

  .rrules_rule_item:hover .rrules_rule_name, .rrules_rule_item.selected .rrules_rule_name {
    font-size: 19px;
    font-weight: bold;
  }

  .rrules_rule_name_src {
    display: none;
  }

  .rrules_rule_edit, .rrules_rule_delete {
    font-size: 48px;
    cursor: pointer;
  }

  .rrules_rule_edit {
    vertical-align: bottom;
  }

  .rrules_rule_edit:hover, .rrules_rule_delete:hover {
    color: #333;
  }
/* Rules Panel ====================================== END */