/* Global ====================================== START */
  * {
  }

  .hidden {
    display: none;
  }

  .container-fluid {
    padding: 0;
  }

  .jumbotron {
    height: 120px;
    margin-bottom: 3px;
  }

  .jumbotron h1 {
    text-align: center;
    margin-top: 2px;
    line-height: 20px;
  }

  .rrules_main_body {
    width: 1300px;
    margin: 15px auto;
    margin-top: 0;
  }

  .loading_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: 120px;
    background: #FFF;
    z-index: 1000;
  }

  .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1001;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/* Global ====================================== END */

/* Rule Group ====================================== START */
  .rrules_group {
    display: block;
    height: 80px;
    margin: 0 36px;
    padding: 0 40px;
  }

  .rrules_group .rrules_group_list select {
    margin-bottom: 10px;
    width: 400px;
    height: 24px;
    padding-left: 10px;;
  }

  .rrules_group .rrules_group_label {
    font-size: 18px;
    color:#444;
    margin-right: 30px;
  }

  .rrules_group .rrules_group_info_name {
    font-size: 20px;
    font-weight: bold;
    color: #ff9f40;
    margin-right: 12px;
  }

  .rrules_group_info_severity {
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    margin-right: 20px;
  }

  .rrules_group_buttons {
    height: 30px;
    color: #FFF;
    border-style: none;
  }

  .rrules_group_buttons:hover {
    font-weight: bold;
  }

  .rrules_group_info_edit input {
    width: 80px;
    background: #ff9f40;
  }

  .rrules_group .rrules_group_info_edit input:hover {
    background: #ff5e00;
  }

  .rrules_group_info_new input {
    width: 80px;
    background: #54b7ff;
  }

  .rrules_group_info_new input:hover {
    background: #0012ff;
  }

  .rrules_group_info_delete input {
    width: 80px;
    background: #e8482c;
  }

  .rrules_group_info_delete input:hover {
    background: #e60404;
  }

  .rrules_group .rrules_group_edit {
    display: none;
  }

  .rrules_group .rrules_group_name input{
    width: 480px;
    height: 30px;
    margin-right: 20px;
    padding-left: 10px;
  }

  .rrules_group .rrules_group_severity select{
    width: 100px;
    height: 30px;
    margin-right: 20px;
  }

  .rrules_group .rrules_group_submit input {
    width: 100px;
    background: #ff9f40;
  }

  .rrules_group .rrules_group_submit input:hover {
    background: #ff5e00;
  }

  .rrules_group .rrules_group_cancel input {
    width: 100px;
    background: #757575;
 }

  .rrules_group .rrules_group_cancel input:hover {
    background: #3c3b3b;
  }
/* Rule Group ====================================== END */

/* Rules Info ====================================== START */
  .rrules_rule_info {
    display: block;
    width: 95%;
    height: 84px;
    margin: 0 auto;
    padding: 20px 40px;
    background: #eafbff;
    border: 3px solid #ff9f40;
    border-radius: 4px;
  }

  .rrules_rule_name_label {
    font-size: 20px;
    color: #444;
  }

  .rrules_rule_info_name {
    display: inline-block;
    height: 44px;
    line-height: 32px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 4px;
    padding: 6px 12px;
    margin-top: -3px;
    vertical-align: top;
  }

  .rrules_rule_info_name.on, .active .rrules_rule_info_name {
    background: #ff9f40;
    color: #FFF;
  }

  .rrules_rule_hint {
    display: inline-block;
    height: 60px;
    overflow: auto;
    margin-top: -10px;
    font-style: italic;
    font-size: 14px;
    padding: 0 10px;
  }
/* Rules Info ====================================== END */

/* Rules Panel ====================================== START */
  .rrules_rules_area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .rrules_rules_col {
    display: inline-block;
    width: 45%;
    margin: 20px auto;
  }

  .rrules_rules_title {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #999;
  }

  .rrules_rules_box {
    width:  100%;
    height: 670px;
    padding: 14px 32px;
    border: 2px solid #CCC;
    border-radius:  8px;
    overflow: auto;
  }

  .rrules_rule_item {
    display: block;
    margin: 8px;
    padding: 8px 20px;
    border: 1px solid #CCC;
    border-radius: 6px;
    background: #3cf;
    color: #FFF;
    height: 70px;
    line-height: 36px;
    font-size: 18px;
    cursor: move;
    text-align: center;
  }

  .rrules_rule_item:hover, .rrules_rule_item.selected {
    background: #00abff;
  }

  .rrules_rules_definition .rrules_rule_item {
    background: #1fca74;
  }

  .rrules_rules_definition .rrules_rule_item:hover, .rrules_rules_definition .rrules_rule_item.selected {
    background: #0ab931;
  }

  .rrules_rules_definition .rrules_rule_item.rrules_type_definition_used {
    background: #88bf77;
    cursor: default;
  }

  .rrules_used_hint {
    display: inline-block;
    width: 35px;
    font-size: 12px;
    font-style: italic;
  }

  .rrules_rule_name {
    display: inline-block;
    width: 320px;
    height: 36px;
    vertical-align: text-bottom;
    text-align: left;
    overflow: hidden;
  }

  .rrules_rule_item:hover .rrules_rule_name, .rrules_rule_item.selected .rrules_rule_name {
    font-size: 19px;
    font-weight: bold;
  }

  .rrules_rule_name_src {
    display: none;
  }

  .rrules_rule_edit, .rrules_rule_delete {
    font-size: 48px;
    cursor: pointer;
  }

  .rrules_rule_edit {
    vertical-align: bottom;
  }

  .rrules_rule_edit:hover, .rrules_rule_delete:hover {
    color: #333;
  }
/* Rules Panel ====================================== END */

/* Add Edit Rules Modal ====================================== START */
  #edit_rule_modal .modal-body div {
    margin: 30px;
    text-align: center;
  }

  .rrules_edit_rule_name_row span, .rrules_edit_rule_desc_row span {
    display: block;
  }

  .rrules_edit_rule_name_row input {
    width: 750px;
    height: 32px;
  }

  .rrules_edit_rule_desc_row textarea {
    resize: none;
    width: 750px;
    height: 80px;
  }

  .rrules_edit_rule_value_row span {
    margin-left: 20px;
    margin-right: 10px;
  }

  .rrules_edit_rule_value_row select {
    width: 160px;
    height: 30px;
    margin-right: 20px;
  }
/* Add Edit Rules Modal ====================================== END */