/* Global ====================================== START */
  * {
  }

  .hidden {
    display: none;
  }

  .container-fluid {
    padding: 0;
  }

  .rrules_main_body {
    width: 1300px;
    margin: 15px auto;
    margin-top: 60px;
  }

  .loading_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 2000;
  }

  .loading {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 2001;
      margin: -110px 0 0 -78px;
    }

    .loading h1 {
    margin: 0;
    padding: 0;
    font-family: ‘Arial Narrow’, sans-serif;
    font-weight: 200;
    font-size: 1.8em;
    color: #36b9dc;
  }

  .loading span {
    position: relative;
    top: 0.63em;
    display: inline-block;
    text-transform: uppercase;
    opacity: 0;
    transform: rotateX(-90deg);
  }

  .let1 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 0.2s;
  }

  .let2 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 0.3s;
  }

  .let3 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 0.4s;
  }

  .let4 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 0.5s;

  }

  .let5 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 0.6s;
  }

  .let6 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 0.7s;
  }

  .let7 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 0.8s;
  }

  @keyframes drop {
      10% {
          opacity: 0.5;
      }
      20% {
          opacity: 1;
          top: 3.78em;
          transform: rotateX(-360deg);
      }
      80% {
          opacity: 1;
          top: 3.78em;
          transform: rotateX(-360deg);
      }
      90% {
          opacity: 0.5;
      }
      100% {
          opacity: 0;
          top: 6.94em
      }
  }
/* Global ====================================== END */

/* Rule Group ====================================== START */
  .rrules_group {
    display: block;
    height: 40px;
    margin: 0 36px;
  }

  .rrules_group .rrules_group_label {
    font-size: 18px;
    color:#444;
    margin-right: 20px;
  }

  .rrules_group .rrules_group_info_name {
    font-size: 22px;
    font-weight: bold;
    color: #ff9f40;
  }

  .rrules_group_arrow {
    margin-right: 20px;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #3cf;
    border:  1px solid #FFF;
    border-radius: 4px;
    cursor: pointer;
  }

  .rrules_group_arrow:hover {
    color: #FFF;
    border:  1px solid #ff5b00;
    background: #3cf;
  }

  .rrules_group_info_severity {
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    margin-right: 20px;
  }

  .rrules_group_buttons {
    float: right;
    height: 30px;
    color: #FFF;
    border-style: none;
    margin-left: 6px;
    border-radius: 4px;
  }

  .rrules_group_buttons:hover {
    font-weight: bold;
  }

  .rrules_group_info_edit input {
    width: 80px;
    background: #ff9f40;
  }

  .rrules_group .rrules_group_info_edit input:hover {
    background: #ff5e00;
  }

  .rrules_group_info_new input {
    width: 80px;
    background: #54b7ff;
  }

  .rrules_group_info_new input:hover {
    background: #0012ff;
  }

  .rrules_group_info_delete input {
    width: 80px;
    background: #e8482c;
  }

  .rrules_group_info_delete input:hover {
    background: #e60404;
  }

  .rrules_group .rrules_group_edit {
    display: none;
  }

  .rrules_group .rrules_group_name input{
    width: 480px;
    height: 30px;
    margin-right: 20px;
    padding-left: 10px;
  }

  .rrules_group .rrules_group_severity select{
    width: 100px;
    height: 30px;
    margin-right: 20px;
  }

  .rrules_group .rrules_group_submit input {
    width: 100px;
    background: #ff9f40;
  }

  .rrules_group .rrules_group_submit input:hover {
    background: #ff5e00;
  }

  .rrules_group .rrules_group_cancel input {
    width: 100px;
    background: #757575;
 }

  .rrules_group .rrules_group_cancel input:hover {
    background: #3c3b3b;
  }

  .rrules_group_list_panel {
    display: none;
    position: absolute;
    top: 103px;
    width: 100%;
  }

  .rrules_group_list_intermediate {
    width: 1300px;
    margin: auto;
  }

  .rrules_group_list {
    width: fit-content;
    margin-left: 80px;
    border: 1px solid #3cf;
    border-radius: 2px;
    padding: 4px 28px;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.4);
  }

  .rrules_group_list div {
    display: block;
    margin: 6px 2px;
    padding: 4px 8px;
    font-size: 16px;
    border: 1px solid #FFF;
    border-radius: 4px;
    background: #00abff;
    color: #FFF;
    cursor: pointer;
    width: 400px;
    text-align: center;
  }

  .rrules_group_list div.active {
    display: none;
  }

  .rrules_group_list div:hover {
    font-size: 18px;
    background: #2788ef;
  }

  .rrules_group_list_close {
    float: right;
    margin-right: -20px;
    color: #ffffff;
    cursor: pointer;
  }
/* Rule Group ====================================== END */

/* Rules Info ====================================== START */
  .rrules_rule_info {
    display: block;
    width: 95%;
    height: 84px;
    margin: 0 auto;
    padding: 20px 40px;
    background: #eafbff;
    border: 3px solid #ff9f40;
    border-radius: 4px;
  }

  .rrules_rule_name_label {
    font-size: 20px;
    color: #444;
  }

  .rrules_rule_info_name {
    display: inline-block;
    height: 44px;
    line-height: 32px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 4px;
    padding: 6px 12px;
    margin-top: -3px;
    vertical-align: top;
  }

  .rrules_rule_info_name.on, .active .rrules_rule_info_name {
    background: #ff9f40;
    color: #FFF;
  }

  .rrules_rule_hint {
    display: inline-block;
    height: 60px;
    overflow: auto;
    margin-top: -10px;
    font-style: italic;
    font-size: 14px;
    padding: 0 10px;
  }
/* Rules Info ====================================== END */

/* Rules Panel ====================================== START */
  .rrules_rules_area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .rrules_rules_col {
    display: inline-block;
    width: 45%;
    margin: 20px auto;
  }

  .rrules_rules_title {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #999;
  }

  .rrules_rules_box {
    position: relative;
    width:  100%;
    height: 600px;
    padding: 14px 32px;
    border: 2px solid #CCC;
    border-radius:  8px;
    overflow: auto;
  }

  .rrules_rule_item {
    display: block;
    margin: 8px;
    padding: 8px 20px;
    border: 1px solid #CCC;
    border-radius: 6px;
    background: #3cf;
    color: #FFF;
    height: 70px;
    line-height: 36px;
    font-size: 18px;
    cursor: move;
    text-align: center;
  }

  .rrules_rule_item:hover, .rrules_rule_item.selected {
    background: #00abff;
  }

  .rrules_rules_definition .rrules_rule_item {
    background: #1fca74;
  }

  .rrules_rules_definition .rrules_rule_item:hover, .rrules_rules_definition .rrules_rule_item.selected {
    background: #0ab931;
  }

  .rrules_rules_definition .rrules_rule_item.rrules_type_definition_used {
    background: #88bf77;
    cursor: default;
  }

  .rrules_used_hint {
    display: inline-block;
    width: 35px;
    font-size: 12px;
    font-style: italic;
  }

  .rrules_rule_name {
    display: inline-block;
    width: 305px;
    height: 36px;
    vertical-align: text-bottom;
    text-align: left;
    overflow: hidden;
  }

  .rrules_rule_item:hover .rrules_rule_name, .rrules_rule_item.selected .rrules_rule_name {
    font-size: 19px;
    font-weight: bold;
  }

  .rrules_rule_name_src {
    display: none;
  }

  .rrules_rule_edit, .rrules_rule_delete {
    font-size: 48px;
    cursor: pointer;
  }

  .rrules_rule_edit {
    vertical-align: bottom;
  }

  .rrules_rule_edit:hover, .rrules_rule_delete:hover {
    color: #333;
  }

  .rrules_rules_definition .rrules_rule_item.add_new_rule {
    position: sticky;
    bottom: 0px;
    background: #c9efd1;
    border: 3px dashed #85c793;
    cursor: pointer;
    font-size: 40px;
    line-height: 48px;
    color: #85c793;
  }

  .rrules_rules_definition .rrules_rule_item.add_new_rule:hover {
    font-size: 50px;
    color: #266f36;
  }
/* Rules Panel ====================================== END */

/* Add Edit Rules Modal ====================================== START */
  #edit_rule_modal .modal-body div {
    margin: 30px;
    text-align: center;
  }

  .rrules_edit_rule_name_row span, .rrules_edit_rule_desc_row span {
    display: block;
  }

  .rrules_edit_rule_name_row input {
    width: 750px;
    height: 32px;
    padding-left:10px;
  }

  .rrules_edit_rule_desc_row textarea {
    resize: none;
    width: 750px;
    height: 80px;
  }

  .rrules_edit_rule_value_row span {
    margin-left: 20px;
    margin-right: 10px;
  }

  .rrules_edit_rule_value_row select, .rrules_edit_rule_value_row input {
    width: 160px;
    height: 30px;
    margin-right: 20px;
  }

  .rrules_edit_rule_value_row input {
    display: none;
  }
/* Add Edit Rules Modal ====================================== END */